$primary-color: #D3D8D4;
$cta-color: #FFE795;
$active-color: #FF9150;

$ingredients-color: #FFD9A0;
$steps-container-color: #EEE8D2;


$neutral-dark: rgb(11, 11, 11);

//! Breakpoints

$bp-xs: 360px;
$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 960px;
$bp-xl: 1200px;

//! Font Family
//!Rubrik
$primary-text: 'Inclusive Sans', sans-serif;
//!Brödtext 
$secondary-text: 'Roboto', sans-serif;

$logo-text: 'Oswald', sans-serif;

//! 