@import "sass-partials/variables";
@import "sass-partials/mixin";
@import "sass-partials/reset";
@import "sass-partials/typography";

@import "sass-partials/recipe";
@import "sass-partials/cookie";
@import "sass-partials/footer";

@import "sass-partials/components/buttons";

body {
  font-family: $primary-text;
  background-color: $bg-color-body;
}

img {
  width: 100%;
  display: block;
  // height: auto;
  height: 100%;
  border-radius: 5px;
}

.container {
  max-width: 1200px;
  margin: auto;

  &.main-container {
    padding: 0 1.8rem;
  }
  .tips-container {
    width: 95%;
    max-width: 1220px;
    margin: 0 auto;
  }

  .episode {
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: relative;
    &:first-child {
      padding-top: 2rem;
    }
  }
  .episode__number {
    font-size: 5vw;
    font-weight: 600;
    padding: 10px 0;
    position: sticky;
    top: 0;
    text-align: center;
    height: calc(10vw + 20px);
    transition: all 0.2s ease-in;
  }
  .episode__content {
    border-top: 3px solid $primary-color;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    padding: 15px 0;
    .title {
      font-weight: 600;
    }
    .story {
      line-height: 26px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      p {
        padding-bottom: 1rem;
      }
      .fig-tips {
        flex: 0 1 20rem;
        max-height: 25rem;
        padding: 1rem 0;
      }
    }
  }

  @media (max-width: 600px) {
    .episode__content {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 576px) {
    .episode__content {
      .story {
        font-size: 15px;
      }
    }
  }
  .integritets-text {
    margin-bottom: 1rem;
  }
}

.main-header {
  background-color: $primary-color;
  padding: 1rem;

  .container {
    @include flexbox(space-between, center, nowrap);
  }

  .logo {
    color: rgb(11, 11, 11);
    font-size: 1.2rem;
    font-family: $logo-text;
    font-weight: 400;
  }

  .main-nav {
    .main-menu {
      display: flex;
      list-style: none;

      .main-menu-item {
        margin: 0 1rem;

        .link {
          color: $neutral-dark;
          font-size: 0.9rem;
        }
      }
    }
  }
}

@mixin coverer {
  width: 100vw;
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
}

#hero {
  color: $black-color;
  position: relative;
  text-align: center;
  background-color: grey;
  width: 100vw;
  height: 60vh;
  background-image: url("img/hero_1200.webp");
  background-size: cover;
  background-position: center;
  margin-bottom: 1.5rem;

  img {
    object-fit: cover;
    @include coverer;
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    .hero-text {
      font-size: 1rem;
      color: $hero-color-text;

      @include bp-sm {
        font-size: 1.5rem;
      }
    }
  }

  .overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: $black-color;
    opacity: 60%;
  }
}

.popular {
  padding: 1.5rem 0rem;
  @include bp-sm {
    padding: 1.5rem 1rem;
  }
  margin-bottom: 1rem;
}

.card {
  flex: 1 auto;
  border: solid 1px $border-color;
  background-color: $card-bg-color;
  padding: 1rem;
  border-radius: 10px;
  @include bp-sm {
    flex: 0 0 calc((100% / 2) - (((2 - 1) / 2) * 1rem));
  }

  @include bp-lg {
    flex: 0 0 calc((100% / 3) - (((3 - 1) / 3) * 1rem));
  }

  .card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .img-box {
    height: 200px;
  }

  .card-bg {
    background-color: $white-color;
    padding: 0.2rem 0.8rem;
    border-radius: 1rem;
  }

  .card-time {
    position: absolute;
    top: 1.8rem;
    right: 1.2rem;
    z-index: 1;
    font-size: 0.8rem;
  }

  .time-box {
    display: flex;
    align-items: center;
    background-color: $cta-color;
    justify-content: center;
    border-radius: 5px;
  }

  .p1 {
    margin: 0.5rem;
  }

  .card-text {
    color: $black-color;
    margin: 1rem 0;

    h2 {
      font-family: $primary-text;
    }

    .style-chips {
      display: inline-block;
      background-color: $cta-color;
      border-radius: 5rem;
      padding: 0.5rem 1.5rem;
      font-size: 1rem;
      user-select: none;
      cursor: pointer;
      margin-bottom: 1rem;
    }
  }

  img {
    object-fit: cover;
  }

  &.hide {
    display: none;
  }
}

.quote {
  padding: 8rem 0;
  width: 100%;
  height: 100%;
  --s: 100px;
  /* control the size */
  --c1: $white-color;
  --c2: #d3d8d4;
  --_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
    var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
    var(--c1) 76% 84%, var(--c2) 86% 94%;
  background: radial-gradient(
      100% 100% at 100% 0,
      var(--c1) 4%,
      var(--_g),
      #0008 96%,
      #0000
    ),
    radial-gradient(
        100% 100% at 0 100%,
        #0000,
        #0008 4%,
        var(--_g),
        var(--c1) 96%
      )
      var(--c1);
  background-size: var(--s) var(--s);
  background-color: grey;
  height: 40vh;
  background-image: url("img/aside_img.webp");
  background-size: cover;
  background-position: center;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  .content {
    text-align: center;
    .quote-text {
      font-size: 1rem;
      margin-bottom: 1rem;
      max-width: 85%;
      height: 100%;
      margin: auto;
      border-radius: 0.5rem;
      @media (min-width: 600px) {
        max-width: 50%;
      }
    }
  }
}

#search {
  padding: 2rem 1rem;
}

#search-bar {
  position: relative;

  #header-search {
    padding: 1rem 1rem 1rem 3rem;
    border-radius: 100px;
    border: 1px solid grey;
    width: 100%;

    &.focus-border {
      border: 1px solid $black-color;
      outline: none;
      box-shadow: 0px 0px 20px $primary-color;
    }
  }

  #btn-search {
    position: absolute;
    left: 1rem;
    top: 0;
    bottom: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.recipes {
  @include flexbox(flex-start, stretch, wrap);
  gap: 1rem;
  padding-bottom: 1rem;
}

#categorys {
  margin-top: 1rem;
}

.chip {
  + label {
    display: inline-block;
    background-color: $cta-color;
    border-radius: 5rem;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0.4rem;
    font-size: 1rem;
    user-select: none;
    cursor: pointer;
  }

  &[type="checkbox"] {
    display: none;

    &:checked {
      + label {
        background-color: $active-color;
      }
    }
  }
}

.textField {
  padding: 0.6rem 1rem;
  border-radius: 0.625rem;
  border: 1px solid $white-color;
}

.news {
  margin: 2rem 0;
  @include flexbox($justify: flex-start, $alignItem: stretch, $wrap: wrap);
  h2 {
    width: 100%;
    margin-bottom: 1rem;
  }

  h3 {
    margin: 0.5rem 0;
  }

  .news-card {
    width: calc(100% / 1 - 1rem);
    margin-bottom: 1rem;
  }

  a {
    color: $body-text;
  }
}
