@mixin btn($bg-color: #201f1f, $text-color: #ffffff) {
  display: inline-block;
  cursor: pointer;
  background-color: $bg-color;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: $text-color;
}
.btn {
  @include btn;
}
.btn-primary {
  @include btn(#201f1f, white);
  margin-top: 10px;
}
.btn-secondary {
  @include btn(yellow, coral);
}
