@mixin btn($bg-color: #201f1f, $text-color: #ffffff) {

  display: inline-block;
  cursor: pointer;
  background-color: $bg-color;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: $text-color;

  &:hover {
    letter-spacing: 0.5px;
    background-color: hsl(46, 23%, 14%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(44, 43, 29) 0px 7px 29px 0px;
  }
  &:active {
    letter-spacing: 0.5px;
    background-color: hsl(46, 23%, 14%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(44, 43, 29) 0px 7px 29px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }

}
.btn {
  @include btn;
}
.btn-primary {
  @include btn(#201f1f, white);
  margin-top: 10px;
}
.btn-secondary {
  @include btn(yellow, coral);
}
