//Rensa i html och använd generella element h1,h2 osv
h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  @include bp-sm {
    font-size: 1.5rem;
  }
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.5rem;
  @include bp-xl {
    font-size: 2.5rem;
  }
}
p {
  line-height: 1.45;
  font-family: $secondary-text;
  @include bp-xl {
    font-size: 1rem;
  }
}
a {
  text-decoration: none;
  font-family: $secondary-text;
  color: $neutral-dark;
}
