$primary-color: #d3d8d4;
$cta-color: #ffe795;
$active-color: #ff9150;
$ingredients-color: #ffd9a0;
$steps-container-color: #eee8d2;
$neutral-dark: rgb(11, 11, 11);

//! Breakpoints
$bp-xs: 360px;
$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 960px;
$bp-xl: 1200px;

//! Font Family
//!Rubrik
$primary-text: "Inclusive Sans", sans-serif;
//!Brödtext
$secondary-text: "Roboto", sans-serif;
$logo-text: "Oswald", sans-serif;
//!
